<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <Style>
   #heading{ 
    text-align: center; 
    color: rgb(45, 158, 45);
    font-size: 60px;
  }
  #msg{
    margin: 0 auto;
    font-size: 45px;
    width: 60%;
    color: rgb(228, 7, 7);
    font-weight: 700;
  }
  body {
  text-align: center;
  justify-content: center;
 }
   </Style>
  <body>
    <h1 id="heading"><%= heading %></h1>
    <p id="msg"><%= message %></p>
  </body>

</html>
